{% extends 'main/base.html' %}

{% block content %}
        <div class="col-9 mt-5 mb-5 text-center">
            <h2>Тема: <br>{{ object.subject }}</h2>
        </div>
        <div class="col-9 mt-5 mb-5 text-center">
                <p>Содержание рассылки: <br>{{ object.body }}</p>
        </div>
        <div class="col-9 mt-5 mb-5 text-center">
                <p>
                    Подписанные клиенты:
                </p>
                {% for customer in object.customers.all %}
                    <p>
                    {{ customer.email }}
                    </p>
                {% endfor %}
                    Настройки:
{#                {% for setting in object_list %}#}
{#                    {{ setting.time }}#}
{#                {% endfor %}#}
        </div>
{% endblock %}